<ion-view id="home" title='SolveStigma'>
	<ion-content class="has-header" style="padding: 20px;">
		<div class="row">
			<div class="col col-50">
				<button ui-sref="symptoms" class="button button-positive">
					<i class="icon ion-medkit"></i>
				</button><br>
				Symptoms
			</div>
			<div class="col col-50">
				<button ui-sref="resources.categories" class="button button-positive">
					<i class="icon ion-easel"></i>
				</button><br>
				Resources
			</div>
		</div><br>
		<div class="row">
			<div class="col col-50">
				<button ui-sref="preTest" class="button button-positive">
					<i class="icon ion-clipboard"></i>
				</button><br>
				Pre-Test
			</div>
			<div class="col col-50">
				<button ui-sref="chatRooms" class="button button-positive">
					<i class="icon ion-ios-chatboxes"></i>
				</button><br>
				Chat
			</div>
		</div><br>
		<div class="row">
			<div class="col col-50">
				<button ui-sref="tab.symptoms" class="button button-positive">
					<i class="icon ion-ionic"></i>
				</button><br>
				Culture Database [COMING SOON]
			</div>
		</div>
	</ion-content>
</ion-view>
